
/* page */

html { font: 16px/1 'Open Sans', sans-serif; overflow: auto; padding: 0.5in; }
html { background: #999; cursor: default; }

body { box-sizing: border-box; height: 11in; margin: 0 auto; overflow: hidden; padding: 0.5in; width: 8.5in; }
body { background: #FFF; border-radius: 1px; box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5); }

/* header */


@page { margin: 0; }


.client_name{
	font-weight: 500 !important;
}
.bold{
	font-weight: bold;
}

.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm{
	padding-left: 0 !important;
}
.m_top{
	margin-top: 60px !important;
}

.f_text{
	font-size: 12px !important;
}