{% extends 'base.html' %}

{% block title %}
Create
{% endblock %}
{% block main %}
    <form method="post">
        {% csrf_token %}
        <div class="card mt-2">
            <div class="card-header">
                <h3 class="text-center">Create Invoice</h3>
            </div>
            <div class="row m-3">
                <h5 class="text-info"> Client Information</h5>
            </div>
            <div class="row mb-4 m-2">
                <div class="col">
                    <div class="form-outline">
                        <input type="text" name="name" id="id_name" class="form-control"/>
                        <label class="form-label" for="id_name">Client Name</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="id_phone" name="phone" class="form-control"/>
                        <label class="form-label" for="id_phone">Phone</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="email" id="id_email" class="form-control" name="email"/>
                        <label class="form-label" for="id_email">Email</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-2">
            <div class="row m-3">
                <h5 class="text-info"> Service Information</h5>
            </div>
            {{ formset.non_form_errors }}
            {{ formset.management_form }}

             {% for form in formset %}
                <div class="row m-2 item-form">
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" name="client_name-0-name" id="id_client_name-0-name"
                                   class="form-control"/>
                            <label class="form-label" for="id_client_name-0-name">Item</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" id="id_client_name-0-quantity" name="client_name-0-quantity"
                                   class="form-control"/>
                            <label class="form-label" for="id_client_name-0-quantity">QTY</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <input type="number" id="id_client_name-0-price" class="form-control"
                                   name="client_name-0-price" step="0.001"/>
                            <label class="form-label" for="client_name-0-price">Price</label>
                        </div>
                    </div>

                </div>
            {% endfor %}



            <button type="submit" class="px-5 m-3 btn btn-info">Submit</button>
        </div>

    </form>
{% endblock %}
{% block script %}

    <script>
        let itemForm = document.querySelectorAll('.item-form')
        let formNum=itemForm.length-1
        console.log(formNum)
    </script>
{% endblock %}